@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Thin/Lato-Hairline.woff2') format('woff2'), url('../../fonts/Thin/Lato-Hairline.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Light/Lato-Light.woff2') format('woff2'), url('../../fonts/Light/Lato-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Regular/Lato-Regular.woff2') format('woff2'), url('../../fonts/Regular/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Bold/Lato-Bold.woff2') format('woff2'), url('../../fonts/Bold/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../../fonts/Black/Lato-Black.woff2') format('woff2'), url('../../fonts/Black/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}