/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/modules/_fonts.scss";

html,body, .container {
    background-color: #ffffff !important;
}

body {
    font-family: "Lato";
    font-size: 12px;
    font-weight: 100;
    color: white !important;
}

.f-w-1 {
    font-weight: 100;
}

.f-w-3 {
    font-weight: 300;
}

.f-w-4 {
    font-weight: 400;
}

.f-w-7 {
    font-weight: 700;
}

.f-w-9 {
    font-weight: 700;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}