/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/modules/_fonts.scss";

html,body, .container {
    background-color: #ffffff !important;
}

body {
    font-family: "Lato";
    font-size: 12px;
    font-weight: 100;
    color: white !important;
}

@media only screen and (min-width: 375px) {
    .header-main {
        height: 75vh;
        width: 100vmin;
        background-image: url('./assets/images/pope-francis.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-main {
        font-size: 30px;
        line-height: 20px;
    }

    body {
        font-size: 8px;
    }
}

@media only screen and (min-width: 576px) {
    .header-main {
        height: 100vh;
        background-image: url('./assets/images/pope-francis.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-main {
        font-size: 30px;
        line-height: 20px;
    }

    body {
        font-size: 10px;
    }
}

@media only screen and (min-width: 768px) {
    .header-main {
        height: 53vh;
        width: 100vmin;
        background-image: url('./assets/images/pope-francis.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-main {
        font-size: 35px; 
        line-height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .header-main {
        height: 50vh;
        width: 100vmin;
        background-image: url('./assets/images/pope-francis.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-main {
        font-size: 50px;
        line-height: 20px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1200px) {
    .header-main {
        height: 120vh;
        width: 100%;
        min-height: 500px;
        background-image: url('./assets/images/pope-francis.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    .title-main {
        font-size: 50px;
        line-height: 20px;
        margin-bottom: 30px;
    }
    
    .closing {
        font-size: 30px;
    }

    .days {
        font-size: 50px;
    }

}

.navbar-brand {
    font-family: Lato; 
    font-size: 32px; 
    font-style: normal; 
    font-variant: normal; 
    line-height: 38.4px;
    color: white !important;
}

.navbar-dark.navbar-toggler {
    border-color: rgb(245, 245, 245);
    color: white !important;
} 

.title-main{ 
    font-family: Lato; 
    font-style: normal; 
    font-variant: normal;
} 

ul > li > a.nav-link, p {
    font-family: Lato; 
    font-size: 16px; 
    font-style: normal; 
    font-variant: normal; 
    color: white !important;
}

a.information {
    text-decoration: underline;
    color: white !important;
}

.f-w-1 {
    font-weight: 100;
}

.f-w-3 {
    font-weight: 300;
}

.f-w-4 {
    font-weight: 400;
}

.f-w-7 {
    font-weight: 700;
}

.f-w-9 {
    font-weight: 700;
}

.bg-light {
    background-color: transparent !important;
}

.bg-transparent {
    background-image: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,0));
    z-index: 99;
}

.container {
    background-color: transparent !important;
}

.card-transparent {
    background-color:rgba(68, 66, 66, 0.5);
    opacity: 1;
}

.closign-transparent {
    background-color:rgba(68, 66, 66, 0.3);
    opacity: 0.5;
}

.days-transparent {
    background-color:rgba(250, 250, 250, 0.7);
    opacity: 1;
}

.h-90 {
    height: 90% !important;
}

.h-10 {
    height: 10% !important;
}